
<div>


    <nav class="nav nav-pill nav-justified">



    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>SCULPTURE</a>
      <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li ng-repeat="artwork in sculpture">
              <a href>{{artwork.title}}&nbsp&nbsp{{artwork.date_completed}}</a>
          </li>
      </ul>
    </span>

        <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>PAINTINGS</a>
      <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li ng-repeat="artwork in paintings">
              <a href>{{artwork.title}}&nbsp&nbsp{{artwork.date_completed}}</a>
          </li>
      </ul>
    </span>

    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>WORKS ON PAPER</a>
      <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li ng-repeat="artwork in worksonpaper">
              <a href>{{artwork.title}}&nbsp&nbsp{{artwork.date_completed}}</a>
          </li>
      </ul>
    </span>

    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>INSTALLATIONS</a>
      <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li ng-repeat="artwork in installations">
              <a href>{{artwork.title}}&nbsp&nbsp{{artwork.date_completed}}</a>
          </li>
      </ul>
    </span>

    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>FURNITURE</a>
      <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li ng-repeat="artwork in furniture">
              <a href>{{artwork.title}}&nbsp&nbsp{{artwork.date_completed}}</a>
          </li>
      </ul>
    </span>


    </nav>
</div>





