<div id="portfolio">
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides" template-url="/assets/views/templates/carousel.html">
        <uib-slide ng-repeat="slide in slides" active="slide.active" template-url="/assets/views/templates/slide.html">
            <img ng-src="{{slide.carousel_url}}" style="margin:auto;">
            <div class="carousel-caption">
                <p>{{slide.title}}&nbsp&nbsp{{slide.date_completed}}</p>
            </div>
        </uib-slide>
    </uib-carousel>
</div>


