<div>
    <h1>Home</h1>
</div>
<!--<div class="imageslide" ng-switch='slideshow' ng-animate="'animate'">-->
    <!--<div class="slider-content" ng-switch-when="1">-->
        <!--<img href="https://www.dropbox.com/home/Public/artsiteImages?preview=lowthreedresser.jpg" width="100%" height="800px"/>-->
    <!--</div>-->
    <!--<div class="slider-content" ng-switch-when="2">-->
        <!--<img href="https://www.dropbox.com/home/Public/artsiteImages?preview=lowsixdrawerdresser.jpg" width="100%" height="800px"/>-->
    <!--</div>-->
    <!--<div class="slider-content" ng-switch-when="3">-->
        <!--<img src="https://www.dropbox.com/home/Public/artsiteImages?preview=highsixdrawerdresser.jpg" width="100%" height="800px"/>-->
    <!--</div>-->
    <!--<div class="slider-content" ng-switch-when="4">-->
        <!--<img src="https://www.dropbox.com/home/Public/artsiteImages?preview=mahoganytvtable.jpg" width="100%" height="800px"/>-->
    <!--</div>-->
<!--</div>-->