


    <div class="container">
        <h4>Mailing List</h4>
        <form>
            <input ng-model="form.first_name" type="text" class="well" placeholder="First Name"><br/>
            <input ng-model="form.last_name" type="text" class="well" placeholder="Last Name"><br/>
            <input ng-model="form.address_street" type="text" class="well" placeholder="Street"><br/>
            <input ng-model="form.address_city" type="text" class="well" placeholder="City"><br/>
            <input ng-model="form.address_state" type="text" class="well" placeholder="State"><br/>
            <input ng-model="form.address_zip" type="text" class="well"  placeholder="Zip Code"><br/>
            <input ng-model="form.email" type="text" class="well"  placeholder="email"><br/>
            <button ng-click="clickButton(form)" type="submit" class="btn btn-submit">Submit Message</button>
        </form>
    </div>

