


<div class="container-fluid">
    <button ng-click="clickButton(form)" type="sculpture" class="btn btn-submit">SCULPTURE</button>
    <button ng-click="clickButton(form)" type="painting" class="btn btn-submit">PAINTING</button>
    <button ng-click="clickButton(form)" type="worksonpaper" class="btn btn-submit">WORKS ON PAPER</button>
    <button ng-click="clickButton(form)" type="furniture" class="btn btn-submit">FURNITURE</button>
    <button ng-click="clickButton(form)" type="installations" class="btn btn-submit">INSTALLATIONS</button>
</div>