<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--STYLES-->
    <link rel="stylesheet" href="/assets/styles/angular-csp.css">

    <!--SCRIPTS-->


    <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>

    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>


</head>
<body>
    <h1>Art Website</h1>

    <div ng-include="'/assets/views/routes/mailing.html'"></div>

    <!--<div ng-include="'/assets/views/templates/header.html'"></div>-->

    <!--<div ng-include="'/assets/views/templates/nav.html'"></div>-->

    <!--<main ng-view></main>-->

    <!--<div ng-include="'/assets/views/templates/footer.html'"></div>-->


</body>
</html>