<!--<ul class="nav nav-pill nav-justified">-->
    <!--<li><a class="btn btn-default" role="button" data-toggle="colapse" ng-src="{{slide.image_url}}" aria-expanded="false" aria-controls="collapseExample">-->
        <!--SCULPTURE-->
    <!--</a></li>-->
    <!--<li><a class="btn btn-default" role="button" data-toggle="colapse" ng-src="{{slide.image_url}}" aria-expanded="false" aria-controls="collapseExample">-->
        <!--PAINTING-->
    <!--</a></li>-->
    <!--<li><a class="btn btn-default" role="button" data-toggle="colapse" ng-src="{{slide.image_url}}" aria-expanded="false" aria-controls="collapseExample">-->
        <!--WORKS ON PAPER-->
    <!--</a></li>-->
    <!--<li><a class="btn btn-default" role="button" data-toggle="colapse" ng-src="{{slide.image_url}}" aria-expanded="false" aria-controls="collapseExample">-->
        <!--FURNITURE-->
    <!--</a></li>-->
    <!--<li><a class="btn btn-default" role="button" data-toggle="colapse" ng-src="{{slide.image_url}}" aria-expanded="false" aria-controls="collapseExample">-->
        <!--INSTALLTIONS-->
    <!--</a></li>-->
<!--</ul>-->


<!--<span uib-dropdown uib-dropdown-toggle="">-->
    <!--<a href id="simple-dropdown" uib-dropdown-toggle="">SCULPTURE</a>-->
    <!--<ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">-->
        <!--<li ng-repeat="choice in items">-->
            <!--<a href="/">{{choice}}</a>-->
        <!--</li>-->
      <!--</ul>-->
<!--</span>-->


<div class="btn-group" uib-dropdown>
    <button id="button-template-url" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        Dropdown using template <span class="caret"></span>
    </button>
    <ul class="uib-dropdown-menu" template-url="/assets/views/templates/dropdown.html" aria-labelledby="button-template-url">
    </ul>
</div>










