<ul class="nav nav-pills nav-justified">
    <li><a href="#sculpture">SCULPTURE</a></li>
    <li><a href="#painting">PAINTING</a></li>
    <li><a href="#worksonpaper">WORKS ON PAPER</a></li>
    <li><a href="#furniture">FURNITURE</a></li>
    <li><a href="#installations">INSTALLATIONS</a></li>
</ul>

<div ng-repeat="artwork in artCollection" value="{{artwork_id.id}}">{{artwork.title}}</div>

















<!--<form name="sculpture">-->
<!--<label for="repeatSelect">SCULPTURE</label>-->
<!--<select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect">-->
<!--<option ng-repeat="artwork in artCollection" value="{{artwork_id.id}}">{{artwork.title}}</option>-->
<!--</select>-->
<!--</form>-->
<!--<hr>-->
<!--<em>repeatSelect = {{data.repeatSelect}}</em><br/>